Make sure that pandas and sqlalchemy are installed.

In [1]:
import pandas as pd
pd.__version__

'2.2.3'

The CSV file is very big and Pandas may not be able to handle it properly if the whole thing doesn't fit in RAM. We will only import 100 rows for now.

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

We will now create the schema for the database. The schema is the structure of the database; in this case it describes the columns of our table. Pandas can output the SQL DDL (Data definition language) instructions necessary to create the schema.

In [3]:
# # We need to provide a name for the table; we will use 'green_trip_data'
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

Note that this only outputs the instructions, it hasn't actually created the table in the database yet.

Note that lpep_pickup_datetime and lpep_dropoff_datetime are TEXT fields even though they should be timestamps. 

Let's change that.

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

Even though we have the DDL instructions, we still need specific instructions for Postgres to connect to it and create the table. We will use sqlalchemy for this.

In [5]:
from sqlalchemy import create_engine

An engine specifies the database details in a URI. The structure of the URI is:

database://user:password@host:port/database_name

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
# run this cell when the Postgres Docker container is running
engine.connect()

In [8]:
# we can now use our engine to get the specific output for Postgres
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

We will now create an iterator that will allow us to read the CSV file in chunks and send them to the database. Otherwise, we may run into problems trying to send too much data at once.

In [9]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)
df_iter

We can use the next() function to get the chunks using the iterator.

In [10]:
df = next(df_iter)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

This is a brand new dataframe, so we need to convert the time columns to timestamp format.

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

We will now finally create the table in the database. With df.head(n=0) we can get the name of the columns only, without any additional data. We will use it to generate a SQL instruction to generate the table.

In [12]:
# we need to provide the table name, the connection and what to do if the table already exists
# we choose to replace everything in case you had already created something by accident before.
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

0

You can now use pgcli -h localhost -p 5432 -u root -d ny_taxi on a separate terminal to look at the database:

* \dt for looking at available tables.
* \d green_trip_data for describing the new table.

Let's include our current chunk to our database and time how long it takes.

In [13]:
df.to_sql(name='green_trip_data', con=engine, if_exists='append')

1000

We can check how many lines were to the database with:

SELECT count(1) FROM green_trip_data;

You should see 100,000 lines.

Let's write a loop to write all chunks to the database. Use the terminal with pgcli to check the database after the code finishes running.

In [14]:
from time import time

while True: 
    try:
        t_start = time()
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name='green_trip_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk, took 9.287 second
inserted another chunk, took 9.275 second

/tmp/ipykernel_9097/148088405.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 9.579 second
inserted another chunk, took 6.624 second
completed